.federant-regular {
  font-family: "Federant", serif;
  font-weight: 400;
  font-style: normal;
}

.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url("https://bettysgraphics.neocities.org/images/backgrounds/bubbles%204.gif");
}

a {
  color: yellow;
  text-decoration: none;
}

img {
  height: 240px;
  border-radius: 10px;
}

.pixel {
  image-rendering: pixelated;
}
