:root {
    /* Tokyo Night Palette */
    --tn-c-1: #00ffd2;
    --tn-c-2: #ff4499;
    --tn-c-3: #000000;
    --tn-c-4: #0a0047;
    --tn-c-5: #004687;

    /* Sweetie 16 Palette */
    --swty-very-dark-gray: #1a1c2c;
    --swty-dark-purple: #5d275d;
    --swty-light-red: #b13e53;
    --swty-light-orange: #ef7d57;
    --swty-light-yellow: #ffcd75;
    --swty-lime: #a7f070;
    --swty-light-green: #38b764;
    --swty-dark-cyan: #257179;
    --swty-dark-blue: #29366f;
    --swty-blue: #3b5dc9;
    --swty-light-blue: #41a6f6;
    --swty-light-cyan: #73eff7;
    --swty-very-light-red: #f4f4f4;
    --swty-gray: #94b0c2;
    --swty-slightly-dark-gray: #566c86;
    --swty-dark-gray: #333c57;
}

@font-face {
    font-family: 'PixelFont';
    src: url('/fonts/monogram.ttf') format('truetype');
    font-weight: normal;
}

/* ---------------- BASE ---------------- */

body {
    font-family: 'PixelFont', monospace;
    font-size: large;
    margin: 0 auto;
    background-image: url("https://bettysgraphics.neocities.org/images/backgrounds/pattern%20247.gif");
}

table, tr, th, td {
    border: 1px solid var(--swty-dark-gray);
    border-collapse: collapse;
}

h1 {
    color: #a7f070;
    text-shadow: 0 0 10px var(--swty-light-green);
    width: 100%;
}

h2, h3 {
    color: #73eff7;
    text-shadow: 0 0 10px var(--swty-light-blue);
}

h4 {
    color: #41a6f6;
    text-shadow: 0 0 10px var(--swty-light-blue);
}

p, li, td, th {
    color: #ab4af9;
    text-shadow: 0 0 2px purple;
    font-size: larger;
}

hr {
    background-color: var(--swty-dark-cyan);
    height: 3px;
    border: none;
}

a {
    color: #ffcd75;
}

/* ---------------- UTILS ---------------- */

.general-border { border-radius: 25px; }
.general-color { background-color: var(--swty-dark-blue); }

/* ---------------- LAYOUT ---------------- */

.main-content {
    padding: 1%;
}

.main-content .panel {
    padding: 2vh;
    max-width: 720px;
}

.main-content .panel img {
    width: 100%;
}

.main-content .flex-container {
    display: flex;
    justify-content: center;
    gap: 3vh;
}

.main-content .flex-container .center-panel { width: 40%; }
.main-content .flex-container .side-panel { width: 20%; }

/* ---------------- NAV ---------------- */

.topnav {
    overflow: hidden;
    padding: 1%;
    width: 40%;
    margin: auto;
    background-color: var(--swty-light-blue);
    font-size: 2vh;
}

.topnav a {
    color: #a7f070;
    text-align: center;
    float: left;
    margin-right: 20px;
    border-radius: 20px;
    padding: 1%;
}

.topnav a:hover,
.topnav .active {
    background-color: var(--swty-blue);
}

.topnav img {
    float: right;
    height: 9vh;
}

/* ---------------- SCROLL ---------------- */

@keyframes scroll {
    0% { transform: translateX(110%); }
    100% { transform: translateX(-2170px); }
}

.infinite-scroll {
    animation: scroll 45s linear infinite;
}

.infinite-scroll h3 {
    background-color: var(--swty-lime);
    color: red;
    width: 2160px;
    padding-left: 1%;
}

/* ---------------- WEBRINGS ---------------- */

.webrings {
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
}

.webrings a img {
    width: 88px;
    height: auto;
}

/* ---------------- MOBILE ---------------- */

@media (max-width: 768px) {

    .topnav { width: 90%; }

    .main-content .flex-container {
        flex-direction: column;
        padding-left: 6vh;
        padding-right: 5vh;
    }

    .main-content .flex-container .center-panel,
    .main-content .flex-container .side-panel {
        width: 90%;
    }

    .infinite-scroll {
        animation: scroll 60s linear infinite;
    }

    .infinite-scroll h3 {
        padding: 1vh;
    }
}
