:root {
    /*Tokyo Night Palette
    1: #00ffd2;
    2: #ff4499;
    3: #000000;
    4: #0a0047;
    5: #004687;
    */

    /*Sweetie 16 Palette
    1: #1a1c2c;
    2: #5d275d;
    3: #b13e53;
    4: #ef7d57;
    5: #ffcd75;
    6: #a7f070;
    7: #38b764;
    8: #257179;
    9: #29366f;
    10: #3b5dc9;
    11: #41a6f6;
    12: #73eff7;
    13: #f4f4f4;
    14: #94b0c2;
    15: #566c86;
    16: #333c57;
    */

    /*Extra Colors
    purple: #ab4af9;
    */
}

@font-face {
    font-family: 'PixelFont';
    src: url('./fonts/monogram.ttf') format('truetype');
    font-weight: normal;
}

body {
    font-family: 'PixelFont';
    font-size: large;
    margin: auto;
    background-image: url('https://bettysgraphics.neocities.org/images/backgrounds/pattern%2059.gif');
}

table,
tr,
th,
td {
    border: 1px solid #1a1c2c;
    border-collapse: collapse;
}

h1 {
    color: #a7f070;
    text-shadow: 0 0 10px #38b764;
    width: 100%
}

h2,
h3 {
    color: #73eff7;
    text-shadow: 0 0 10px #41a6f6;
}

h4 {
    color: #41a6f6;
    text-shadow: 0 0 10px #41a6f6;
}

p,
li,
td,
th {
    color: #ab4af9;
    text-shadow: 0 0 2px #ab4af9;
    font-size: larger;
}

hr {
    color: #257179;
    background-color: #257179;
    height: 3px;
    border: none;
}

a {
    color: #ffcd75;
}

.general-border {
    border-radius: 25px;
}

.general-color {
    background-color: #29366f;
}

.main-content .back-home {
    width: 11vh;
    height: 4vh;
    margin-bottom: 1vh;
    text-align: center;
}

.main-content .under-construction {
    padding: 1%;
}

.main-content .panel {
    padding: 1%;
    max-width: 720px;
}

.main-content {
    padding: 1%;
}

.main-content .flex-container {
    display: flex;
    justify-content: center;
    gap: 3vh;
}

@media (max-width: 768px) {
    .main-content .flex-container {
        display: flex;
        flex-direction: column;
        padding-left: 6vh;
        padding-right: 5vh;
    }
}

.main-content .flex-container .center-panel {
    width: 40%;
}

@media (max-width: 768px) {
    .main-content .flex-container .center-panel {
        width: 90%;
    }
}

.main-content .flex-container .side-panel {
    width: 20%;
}

@media (max-width: 768px) {
    .main-content .flex-container .side-panel {
        width: 90%;
    }
}

.main-content .panel {
    padding: 2vh;
}

.main-content .panel img {
    width: 100%;
}

.topnav {
    overflow: hidden;
    padding-right: 1%;
    padding-left: 1%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #3b5dc9;
    font-size: 2vh;
}

@media (max-width: 768px) {
    .topnav {
        width: 90%;
    }
}

.topnav a {
    color: #a7f070;
    text-align: center;
    float: left;
    margin-right: 20px;
    border-radius: 20px;
    padding-inline: 1%;
}

.topnav a:hover {
    background-color: #38b764;
}

.topnav a .active {
    background-color: #38b764;
}

.topnav img {
    float:  right;
    height: 9vh;
}

@keyframes scroll{
    0% {
        transform: translateX(2170px);        
    }
    100% {
        transform: translateX(-2170px);
    }
}

@media (max-width: 768px) {
    @keyframes scroll {
        0% {
            transform: translateX(770px);
        }
        100% {
            transform: translateX(-2170px);
        }
    }
}

.infinite-scroll {
    animation: scroll 45s linear infinite;
}

@media (max-width: 768px) {
    animation: scroll 60s linear infinite;
}

.infinite-scroll h3 {
    background-color: #a7f070;
    color: red;
    width:  2160px;
    padding-left: 1%;
}

@media (max-width: 768px) {
    .infinite-scroll h3 {
        padding: 1vh;
    }
}

.webrings {
    display: flex;
    flex-wrap: wrap;
}

.webring {
    width: 10vh;
}
